<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br />

		<% if(locals.validacao) { %>
			<ul>
				<% for(var i = 0; i < validacao.length; i++)  { %>
					<li>	
						<%= validacao[i].msg %>
					</li>
				<% } %>
			</ul>
		<% } %>

		<form action="/noticias/save" method="post">
			<label>Title</label>
			<input type="text" id="title" name="title" value="<%=noticia.title%>" placeholder="Título da Notícia" />
			<br />

			<label>Resume</label>
			<input type="text" id="resume" name="resume" value="<%=noticia.resume%>" placeholder="Resumo da Notícia" />
			<br />

			<label>Author</label>
			<input type="text" id="author" name="author" value="<%=noticia.author%>" placeholder="Autor da Notícia" />
			<br />

			<label>Date</label>
			<input type="date" id="news_date" name="news_date" value="<%=noticia.news_date%>" placeholder="Data da Notícia" />
			<br />

			<label>News</label>
			<textarea id="noticia" name="news" rows="5" cols="30"><%=noticia.news%></textarea>
			<br />

			<input type="submit" value="Enviar" />
		</form>

	</body>
</html>